#quote {
  display: flex;
  justify-content: center;
}

.quote {
  text: black;
  background: white;
  width: 50%;
}

.weather {
  text: black;
  display: flex;
  justify-content: flex-end;
}

.weather-bg {
  background-color: white;
}

.section {
  height: 1040px;
  background: white;
}

#todo {
  display: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.box {
  outline-width: 2px;
  outline-color: black;
  outline-style: solid;
  width: 400px;
}

.taskCard {
  display: flex;
  width: 200px;
  font-size: 20px;
}
